.customLinksMenu {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  height: 100%;
}
.createListingLinkOnly {
  display: flex;
  justify-content: right;
  height: 100%;
}
a{
  display: flex;
  align-items: center;
}
a span span{
  padding: 6px 26px 6px;
  font-weight:600;
  font-size: medium;
  color: black;
}