.searchForm {
    /* visibility: hidden; */
    height: 300px;
    max-width: 700px;
    background-color: aliceblue;
  }
  .addressInput {
    color: blue !important;
  }
  .datePicker{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid purple;
    padding: 5px 10px 5px;
  }
  .datePicker div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }